# Ignores from a forked repo
__pycache__
.idea
build
data
dist
venv
wilds.egg-info
.DS_Store

# New ignores as necessary
new-input.txt
original-input.txt
refactored-input.txt
simple_program.py
data-aug
data500
data500-aug
data1500
data1500-aug
data1500-aug-all
data24k
data24k-aug
additional
nohup.out
test
